/*

  Remember:
    - Changes farther down overwrite changes higher up
    - Specific changes overwrite general changes
    - try and use relative units, that way it scales to every resolution
    - "mobile first"

    Variable usage:
     - https://stackoverflow.com/questions/15831657/creating-css-global-variables-stylesheet-theme-management
     - could be used for grid/flex layouts
     - could be use for repeating colors

     Grid:
      - 6x1

*/
/*  for debugging
* {
  border: 1px solid #c51f5d;
  margin: 4px;
} */

body {
  background-color: #141d26;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  display: grid;
}

.grid_item {
  background-color: #243447;
}


.h_list {
  display: flex;
  justify-content: space-between;
}

.h_list_item {
  margin-left: 5px;
  margin-right: 5px;
}

.h_list_text {
  transition-property: all;
  transition-duration: 0.2s;
  color: #ffffff;
}

.link:visited, .h_list_text:visited {
  color: #c51f5d;
}

.link:hover, .h_list_text:hover {
  font-size: 1.1em;
}

#title_screen {
  position: sticky;
  top: 0px;
  z-index: -1;
}

.hero {
  margin: auto;
  height: 98vh;
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
}

#title {
  padding-bottom: .01em;
  padding-top: 3.2em;
  text-align: center;
  vertical-align: bottom;
  font-family: 'Abril Fatface', serif;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .1em;
  color: #c51f5d;
}

#subTitle {
  text-align: center;
  vertical-align: top;
  font-size: 38px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}


.reason_container {
  display: flex;
  justify-content: space-around;
}

.reason {
  flex-basis: 33%;
  text-align: center;
  background-color: #141d26;
  padding-top: 3vh;
  padding-bottom:3vh;
  margin: 20px 10px 10px 10px;
}

.r_one {
  margin-left: 20px;
}

.r_three {
  margin-right: 20px;
}

.numReason {
  font-size: 64px;
  font-family: 'Abril Fatface';
  color: #c51f5d;
}

.subReason {
  font-size: 36px;
  margin: 10px 0 10px 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.description_text_container {
  height: calc(100% - 20px); /* to match image */
  margin: 10px 20px 10px 20px;
  background-color: #141d26;
  display: flex;
  align-items: center;
  flex-basis: 66%;
}

.description_text {
  padding: 10px;
}

.d_two {
  flex-direction: row-reverse;
}

.image {
  width: 33%;
  flex-basis: 33%;
  margin: 10px 20px 10px 20px;
}

.reason, .image, .description_text_container, .link_title, .flex_links_container, .t_container {
  position: relative;
  animation-name: return_pos;
  animation-duration: 0.2s;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.reason:hover, .image:hover, .description_text_container:hover, .link_title:hover, .flex_links_container:hover, .t_container:hover {
  animation-name: change_pos;
  animation-duration: 0.2s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes change_pos {
  from {
    right: 0px;
    bottom: 0px;
  }
  to {
    right: 5px;
    bottom: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .33);
  }
}

@keyframes return_pos {
  from {
    right: 5px;
    bottom: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .33);
  }
  to {
    right: 0px;
    bottom: 0px;
  }
}

#testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.t_container {
  background-color: #141d26;
  margin: 20px;
  padding: 25px;
}

.t_one {
  margin: 20px 10px 10px 20px;
}

.t_two {
  margin: 20px 20px 10px 10px;
}

.t_three {
  margin: 10px 10px 10px 20px
}

.t_four {
  margin: 10px 20px 10px 10px
}

.t_five {
  margin: 10px 10px 20px 20px
}

.t_six {
  margin: 10px 20px 20px 10px
}

.quote_icon {
  font-family: 'Ephesis';
  color: #c51f5d;
  font-size: 100px;
  margin: -20px 0 -80px 0;
}

.t_quote {
  padding: 20px 20px 15px 25px;
}

.t_author {
  text-align: right;
}

#resources {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.link_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link_title_div {
  flex-basis: 57%;
}

.link_title {
  background-color: #141d26;
  font-size: 2.3em;
  flex-basis: 20%;
  text-decoration: underline;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 1vh;
  margin-bottom: 4vh;
}

.flex_links_container {
  background-color: #141d26;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 50%;
  margin: 0 20vw 0 20vw;
  padding-top: 1em;
}

.list_item {
  height: 3em;
  width: 20vw;
}

.link_lists {
  list-style: circle;
}

.link {
  color: #ffffff;
  transition-property: all;
  transition-duration: 0.2s;
}

.footer {
  text-align: center;
  background-color: #141d26;
}

.space {
  height: 30vh;
}

#top {
  height: 1vh;
}

#bottom {
  height: 25vh;
}
